@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css');

:root {
  --font-ss: 'Inter', sans-serif;
  --border-radius: 12px;
  --transition-background: background-color .2s;

  --accent-color: hsl(266deg 42% 59%);
  --accent-color-tint: hsl(266deg 42% 53%);

  --main-info-color: #b6bfb7;
  --main-success-color: #4CAF50;
  --main-danger-color: #E53935;

  --main-text-light: #ededed;
  --secondary-text-light: #eeeeee;

  --actions-color: #64707d;
  --main-text: #e8e8e8;
  --main-bg: #161616;
  --secondary-text: #d7cadd;
  --secondary-bg: #111113;
  --secondary-bg-tint: #1d1d1d;
  --secondary-bg-tint-focus: #191919;
  --form-border-color: #161717;
  --form-border-color-active: var(--accent-color);

  --selection-text: #f2f2f2;
  --selection-bg: #563170;
}
.light {
  --main-text: #3e3e3e;
  --main-bg: #eef0f1;
  --secondary-text: #202428;
  --secondary-bg: #ffffff;
  --secondary-bg-tint: #e6e6e6;
  --secondary-bg-tint-focus: #e0e0e0;
  --form-border-color: #eeecec;

  --selection-text: #000000;
  --selection-bg: #dabfff;
}

* {
  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}
body {
  background-color: var(--main-bg);
  color: var(--main-text);
  font-family: var(--font-ss);
  font-weight: 400;
  line-height: 1.5;
  min-height: 100vh;
  overflow: auto;
  transition: var(--transition-background);
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}
body.noscroll {
  overflow: hidden;
}
::selection {
  color: var(--selection-text);
  background: var(--selection-bg);
  text-shadow: none;
}
::-webkit-scrollbar {
  width: 14px;
  height: 12px;
}
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  box-shadow: rgb(173 173 184 / 40%) inset 0 0 10px 10px;
  border: 4px solid transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
::-webkit-input-placeholder {
  color: var(--actions-color);
  user-select: none;
}
.track-vertical {
  width: 6px;
  right: 3px;
  bottom: 3px;
  top: 3px;
  border-radius: 4px;
  z-index: 11;
}
.track-horizontal {
  display: none;
}
@media (max-width: 570px) {
  .track-vertical {
    width: 4px !important;
    right: 2px;
    bottom: 2px;
    top: 2px;
    border-radius: 4px;
    z-index: 11;
  }
}
.thumb-vertical, .thumb-horizontal {
  border-radius: inherit;
  background-color: rgb(173 173 184 / 40%);
  cursor: pointer;
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: color .1s;
}
a.flex_margin {
  margin: 0 .4rem;
}
br {
  user-select: none;
}
ul {
  list-style: none;
}
.anchor {
  visibility: hidden;
}

#root {
  height: 100vh;
}
.view {
  margin-bottom: -17px !important;
}

.content_loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  margin-top: 5rem;
}

/* Errorer */
.empty-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 210px;
  min-height: 110px;
  user-select: none;
}
.empty_words {
  max-width: 210px;
  text-align: center;
  position: relative;
  font-size: 15px;
  color: var(--secondary-text);
}
.empty_top {
  margin-top: 8px;
  word-break: break-all;
}


.thread_pin, .thread_lock {
  margin-right: .4rem;
  color: var(--secondary-text);
  font-size: 1rem;
}

.cards_inner {
  padding: 0 1.25rem 1.25rem;
}
.card_item {
  display: flex;
  align-items: flex-start;
  margin-bottom: .4rem;
}
.card_body {
  flex: 1 auto;
  min-width: 0;
}

.card_outside_title {
  margin: .3rem .2rem;
  font-weight: 500;
  user-select: none;
}
.card_outside_title.with_hint {
  display: flex;
  align-items: center;
  width: max-content;
  cursor: help;
}
.title_hint {
  display: flex;
  margin-left: .5rem;
  position: relative;
}
.title_hint i {
  color: var(--actions-color);
  font-size: 18px;
}
.hint_popover {
  display: none;
  position: absolute;
  top: 1.1rem;
  left: 0;
  font-size: .8rem;
  background-color: rgb(0 0 0 / .6);
  color: var(--secondary-text-light);
  padding: .2rem .4rem;
  border-radius: var(--border-radius);
  z-index: 1;
}
.card_outside_title.with_hint:hover .hint_popover {
  display: flex;
  width: max-content;
  max-width: 180px;
}

.card_title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 500;
}
.card_block {
  background-color: var(--secondary-bg);
  color: var(--main-text);
  padding: .25rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--form-border-color);
  transition-duration: .2s;
  transition-property: border-color, background-color;
  overflow-wrap: anywhere;
}
.with_left {
  display: flex;
}
.card_left {
  display: flex;
  position: relative;
  background-color: var(--secondary-bg-tint);
  background-size: cover;
  margin: .4rem;
  width: 74px;
  height: 74px;
  border-radius: calc(var(--border-radius) / 2);
  transition: var(--transition-background);
}
.card_left.empty::before {
  content: '';
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTE5LjkzNyw4LjY4Yy0wLjAxMS0wLjAzMi0wLjAyLTAuMDYzLTAuMDMzLTAuMDk0Yy0wLjA0OS0wLjEwNi0wLjExLTAuMjA3LTAuMTk2LTAuMjkzbC02LTYgYy0wLjA4Ni0wLjA4Ni0wLjE4Ny0wLjE0Ny0wLjI5My0wLjE5NmMtMC4wMy0wLjAxNC0wLjA2Mi0wLjAyMi0wLjA5NC0wLjAzM2MtMC4wODQtMC4wMjgtMC4xNy0wLjA0Ni0wLjI1OS0wLjA1MSBDMTMuMDQsMi4wMTEsMTMuMDIxLDIsMTMsMkg2QzQuODk3LDIsNCwyLjg5Nyw0LDR2MTZjMCwxLjEwMywwLjg5NywyLDIsMmgxMmMxLjEwMywwLDItMC44OTcsMi0yVjkgYzAtMC4wMjEtMC4wMTEtMC4wNC0wLjAxMy0wLjA2MkMxOS45ODIsOC44NSwxOS45NjUsOC43NjQsMTkuOTM3LDguNjh6IE0xNi41ODYsOEgxNFY1LjQxNEwxNi41ODYsOHogTTYsMjBWNGg2djUgYzAsMC41NTMsMC40NDcsMSwxLDFoNWwwLjAwMiwxMEg2eiI+PC9wYXRoPjwvc3ZnPg==);
  background-size: cover;
  filter: contrast(0);
  opacity: .6;
  position: absolute;
  width: 28px;
  height: 28px;
  top: 22px;
  left: 24px;
}
.card_right {
  width: calc(100% - 88px);
}
.card_head {
  display: flex;
  align-items: flex-start;
  padding: .2rem .75rem 0;
  margin-top: .3rem;
  font-size: .85rem;
  position: relative;
}
@media (min-width: 400px) {
  .card_head {
    font-size: .95rem;
  }
}
.card_head_inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  line-height: 1.2;
}
.card_title {
  font-size: 1.15rem;
  width: calc(100% - 2rem);
  color: var(--main-text);
  transition: color .2s;
}
.card_title i {
  position: relative;
  top: 1px;
  margin-right: .1rem;
}
.card_title.full {
  display: block;
  margin-bottom: .3rem;
}
a.card_title:hover {
  color: var(--accent-color);
}
.file_card .card_title {
  font-size: 1.05rem;
  -webkit-line-clamp: 1;
}
.card_info {
  margin-top: .3rem;
  display: flex;
  align-items: center;
  width: max-content;
}
.head_text {
  display: flex;
  color: var(--actions-color);
  overflow-wrap: break-word;
  font-size: .85rem;
}
a.head_text:hover {
  text-decoration: underline var(--accent-color);
  text-decoration-skip-ink: none;
  text-underline-position: under;
}
.head_text time {
  white-space: nowrap;
}
.bold {
  font-weight: 600;
}
.bullet {
  margin: 0 .5rem;
  color: var(--actions-color);
  font-size: .7rem;
  opacity: .4;
  cursor: default;
  user-select: none;
}
.user_status {
  font-size: .6rem;
  font-weight: 400;
  border-radius: var(--border-radius);
  background-color: var(--accent-color);
  color: var(--secondary-text-light);
  padding: .1rem .3rem;
  margin-left: .4rem;
  user-select: none;
}

.dropdown {
  position: absolute;
  right: .2rem;
  top: .25rem;
}
.dropdown_trigger {
  opacity: .5;
  padding: 0 6px;
}
.dropdown_trigger > * {
  pointer-events: none;
}
.dropdown:hover .dropdown_trigger {
  opacity: 1;
}
.dropdown_content {
  display: none;
  position: absolute;
  right: 0;
  width: max-content;
  min-width: 128px;
  flex-direction: column;
  background-color: var(--secondary-bg-tint);
  border-radius: var(--border-radius);
  overflow: hidden;
  z-index: 1;
}
.dropdown.open .dropdown_content {
  display: flex;
}
.dropdown_item {
  padding: .4rem 1rem;
  color: var(--secondary-text);
  transition: var(--transition-background);
  cursor: pointer;
  user-select: none;
}
.dropdown_item:hover {
  background-color: var(--secondary-bg-tint-focus);
}

.card_content {
  color: var(--secondary-text);
  margin: .5rem .75rem 0;
  font-size: .97rem;
  font-weight: 500;
  line-height: 1.6;
  overflow-wrap: break-word;
}
@media (min-width: 400px) {
  .card_content {
    font-size: 1rem;
  }
}

.attach_list {
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}
.attached_file {
  display: table;
  border-radius: var(--border-radius);
  margin: 0 .5rem 0 0;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
.attached_info {
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--secondary-text-light);
  font-size: .7rem;
  border-radius: var(--border-radius);
  padding: 0 .3rem;
  margin: .3rem;
  user-select: none;
}
.remove_file {
  display: flex;
  position: absolute;
  top: .2rem;
  right: .2rem;
  border-radius: 50%;
  color: var(--secondary-text-light);
  transition: var(--transition-background);
  cursor: pointer;
}
.attached_info, .remove_file {
  background-color: rgb(0 0 0 / .4);
}
.remove_file i {
  font-size: 20px;
}
.remove_file > * {
  pointer-events: none;
}

.card_foot {
  margin: .6rem .2rem .2rem;
  display: flex;
  align-items: center;
}
.act_btn {
  display: flex;
  background-color: transparent;
  color: var(--main-text);
  border: none;
  border-radius: var(--border-radius);
  transition: var(--transition-background);
  cursor: pointer;
}
.act_btn:not(.disable):hover {
  background-color: var(--secondary-bg-tint);
}
.act_btn i {
  font-size: 22px;
}
.act_btn.disable {
  cursor: default;
}
.foot_btn {
  display: flex;
  align-items: center;
  margin-right: .4rem;
  padding: .1rem .5rem .1rem;
  font-size: .8rem;
  color: var(--actions-color);
  white-space: nowrap;
  user-select: none;
}
.foot_btn i {
  font-size: 17px;
}
.under_foot {
  margin: .5rem .2rem 0;
  font-size: .72rem;
}
.under_foot i {
  font-size: 15px;
}
.card_count, .hidden {
  margin-left: .3rem;
}
.hidden {
  display: none;
}
@media (min-width: 400px) {
  .hidden {
    display: block;
  }
}
.likes {
  position: relative;
}
.liked {
  color: var(--main-danger-color);
}
.likes_list {
  display: none;
  align-items: center;
  position: absolute;
  bottom: 22px;
  left: -4px;
  background: rgb(0 0 0 / 50%);
  border-radius: var(--border-radius);
  padding: .15rem .25rem;
  cursor: default;
  z-index: 1;
}
.likes:hover .likes_list {
  display: flex;
}
.likes_list .head_profile:not(:last-child) {
  margin-right: .2rem;
}
.likes_list .head_profile {
  cursor: pointer;
}
.likes_list span {
  margin: 0 .5rem 0 .2rem;
}


.modal {
  display: none;
  position: fixed;
  top: 0;
  background-color: var(--main-bg);
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  animation: slide-in .4s;
  z-index: 9;
}
.modal.open {
  display: flex;
}
.modal_body {
  width: 100%;
}
@media (min-width: 780px) {
  .modal {
    top: 50%;
    left: 50%;
    max-width: 600px;
    height: max-content;
    max-height: 100%;
    border-radius: var(--border-radius);
    transform: translate(-50%, -50%);
    animation: slide-in-left-shift .2s;
  }
  .modal_body {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .text_area textarea {
    min-height: 13vh !important;
  }
}
@keyframes slide-in {
  0% {
    transform: translateY(110vh);
  }
  100% {
    transform: translateY(0vh);
  }
}
@keyframes slide-in-left-shift {
  0% {
    transform: translate(-50%, 110vh);
  }
  100% {
    transform: translate(-50%, calc(0vh - 50%));
  }
}
.modal_head {
  width: 100%;
  padding: 1rem 1rem 0;
}
.modal_head .section_header {
  margin: 0;
}
.modal_head .more_link {
  padding: .4rem;
  border-radius: var(--border-radius);
  transition: var(--transition-background);
  cursor: pointer;
}
.modal_head .more_link:hover {
  background-color: var(--secondary-bg-tint-focus)
}
.modal_head .more_link i {
  font-size: 24px;
  margin: 0;
}
.modal_head .more_link:hover i {
  position: static;
  right: initial;
}
.modal_head .more_link > * {
  pointer-events: none;
}

.form_inner {
  max-width: 480px;
  margin: 1rem 1rem 0;
}
@media (min-width: 520px) {
  .form_inner {
    width: 100%;
    margin: 1rem auto 0 !important;
  }
}
.sign_form {
  margin: 1rem 0 0;
}
.sign_form .center {
  justify-content: center;
}
.card_item .content_loader {
  height: 34px;
  margin: .8rem 2px 1rem;
}
.text_reference {
  font-size: .85rem;
}

.form_block {
  background-color: var(--secondary-bg);
  color: var(--main-text);
  border-radius: var(--border-radius);
  border: 2px solid var(--form-border-color);
  transition-duration: .2s;
  transition-property: border-color, background-color;
  overflow-wrap: anywhere;
  overflow: hidden;
}
.form_block:focus-within {
  border-color: var(--form-border-color-active) !important;
}
.form_block.error {
  border-color: var(--main-danger-color);
}
.form_error {
  color: var(--main-danger-color);
  font-size: .8rem;
  font-weight: 400;
  margin-left: .5rem;
}

.input_area {
  height: 36px;
  max-height: inherit !important;
  min-height: inherit !important;
}

.select_area {
  appearance: none;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
}
.select_area option {
  background-color: var(--secondary-bg);
}
.form_block.select {
  position: relative;
}
.form_block.select::before {
  content: '';
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgCj48cGF0aCBkPSJNMTYuMjkzIDkuMjkzTDEyIDEzLjU4NiA3LjcwNyA5LjI5MyA2LjI5MyAxMC43MDcgMTIgMTYuNDE0IDE3LjcwNyAxMC43MDd6Ij48L3BhdGg+PC9zdmc+');
  background-size: cover;
  filter: contrast(0);
  position: absolute;
  top: .45rem;
  right: .5rem;
  width: 22px;
  height: 22px;
  pointer-events: none;
  user-select: none;
}

.text_area {
  width: 100%;
  position: relative;
  
}
.text_area::before {
  content: '';
  background-image: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjMyNCIgaGVpZ2h0PSIzMjQiPjxjaXJjbGUgcj0iMzIiIGN5PSIzMyIgY3g9IjI5MiIvPjxjaXJjbGUgcj0iMzIiIGN5PSIxNjMiIGN4PSIyOTIiLz48Y2lyY2xlIHI9IjMyIiBjeT0iMjkyIiBjeD0iMjkyIi8+PGNpcmNsZSByPSIzMiIgY3k9IjE2MyIgY3g9IjE2MyIvPjxjaXJjbGUgcj0iMzIiIGN5PSIyOTIiIGN4PSIxNjMiLz48Y2lyY2xlIHI9IjMyIiBjeT0iMjkyIiBjeD0iMzMiLz48L3N2Zz4=');
  background-size: cover;
  filter: contrast(0);
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 8px;
  height: 8px;
  pointer-events: none;
  user-select: none;
}
.text_area textarea, .input_area {
  background: transparent;
  color: var(--main-text);
  border: none;
  padding: .6em .8rem;
  width: 100%;
  max-height: 36vh;
  min-height: 12vh;
  font-family: var(--font);
  font-size: .85rem;
  line-height: 1.5;
  box-shadow: none;
  transition: none;
  resize: vertical;
}
.text_area textarea::-webkit-resizer {
  background-color: var(--secondary-bg);
}

.file_area {
  margin: .13rem;
}
.file_area input {
  display: none;
}
.file_input {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: var(--border-radius);
  cursor: pointer;
  user-select: none;
}

.file_input .secondary_btn {
  height: 2rem;
  margin: .1rem .6rem .1rem .1rem;
  border-radius: calc(var(--border-radius) / 2);
  font-size: .9rem;
  pointer-events: none;
}
.file_input span {
  color: var(--secondary-text);
  font-size: .8rem;
  max-width: 180px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.file_input_body {
  height: 74px;
}
.file_input_body.hidden {
  display: none;
}

.form_foot {
  display: flex;
  width: 100%;
  padding: .2rem;
  border-bottom: 1px solid var(--form-border-color);
}
.act_group {
  display: flex;
  align-items: center;
}

.bb_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  font-size: 20px;
  margin-left: 4px;
  color: var(--actions-color);
  border-radius: calc(var(--border-radius) / 1.5);
  transition: var(--transition-background);
  cursor: pointer;
  user-select: none;
}
.bb_btn:hover {
  background-color: var(--secondary-bg-tint-focus);
}
.bb_btn > * {
  pointer-events: none;
}

/* Markdown */
.markdown {
  font-weight: 400;
}
.markdown em {
  font-style: italic;
}
.markdown strong {
  font-weight: 700;
}
.markdown ol, .markdown ul {
  margin-left: 1.4rem;
  margin-top: .3rem;
  margin-bottom: .3rem;
}
.markdown ul {
  list-style: initial;
}
.markdown ul > li > ul {
  list-style: revert;
}
.markdown code {
  font-family: monospace;
  background-color: var(--secondary-bg-tint-focus);
  border-radius: calc(var(--border-radius) / 2);
  padding: 0 .5rem;
  margin: .5rem 0;
  display: flex;
  overflow: auto;
  white-space: nowrap;
}
.markdown blockquote {
  position: relative;
  display: flex;
  color: var(--main-success-color);
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.markdown blockquote:before {
  content: '>';
  position: relative;
  top: -1px;
  margin-right: .4rem;
}
.markdown h1 {
  font-size: 2rem;
  margin: 1rem 0;
}
.markdown h2 {
  font-size: 1.5rem;
  margin: .8rem 0;
}
.markdown h3 {
  font-size: 1.25rem;
  margin: .5rem 0;
}
.markdown h4 {
  font-size: 1rem;
  margin: .4rem 0;
}
.markdown h5 {
  font-size: .8rem;
  margin: .3rem 0;
}
.markdown h6 {
  font-size: 0.7rem;
  margin: .2rem 0;
}
.markdown img {
  display: flex;
  background-size: cover;
  border-radius: var(--border-radius);
  width: 100%;
  max-width: 350px;
  margin: .3rem 0;
}
