/* Profile */
.profile_head {
  display: flex;
  align-items: initial;
  justify-content: center;
  margin: 2.5rem 0 1.5rem;
}
.profile_picture {
  width: 100px;
  height: 100px;
  color: var(--actions-color);
  background-color: var(--secondary-bg-tint);
  background-size: cover;
  border-radius: 50%;
  margin-top: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  pointer-events: initial !important;
}
.profile_head_right {
  margin: .5rem .5rem 1rem 1.5rem;
  overflow: hidden;
}
.profile_username {
  display: flex;
  align-items: center;
  margin: .5rem 0;
  font-size: 1.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.profile_online {
  color: var(--actions-color);
}
.profile_head_actions {
  display: flex;
  align-items: center;
}
.profile_head_actions .btn:not(:first-child) {
  margin-left: .5rem;
}
@media (max-width: 500px) {
  .profile_head {
    flex-direction: column;
    align-items: center;
  }
  .profile_head_right {
    margin: 1rem .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile_username {
    max-width: 280px;
  }
}
